/* Custom google font used for header buttons */
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Used for general descriptions */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}

@layer components {
    /* Underline animation referenced from https://www.youtube.com/watch?v=6jFFkGU-ZBU&t=1162s&ab_channel=WebDevWarriors */
    .nav-hover {
        @apply relative cursor-pointer md:block after:block
        after:h-0.5 after:bg-earth-yellow-dark after:w-full after:scale-x-0 
        after:hover:scale-x-100 after:transition after:duration-200 after:origin-center
    }
    /* Styling for anchors in project cards */
    .project-link {
        @apply p-3 w-1/2 rounded-full font-poppins font-medium text-lg text-center
    }
    /* Wrapper container used across each section */
    .wrapper {
        @apply w-full min-h-screen pt-16 bg-earth-white
    }
    /* Fade transition animation for the about section */
    .transition-fade {
        @apply transition-opacity duration-700 ease-in-out
    }
    /* Slide animation along the x-axis - for intersection observer */
    .slide-x {
        @apply transition-all duration-700 ease-out opacity-100 translate-x-[0px]
    }
    /* Slide animation along the y-axis - for intersection observer */
    .slide-y {
        @apply transition-all duration-700 ease-out opacity-100 translate-y-[0px]
    }
}

@layer utilities {
    /* Custom height offset to account for navbar */
    .w-offset {
        height: calc(100vh - 4rem);
    }
}